.bg {
    background-image: url('../../assets/marvel/logoo.jpg');
    height: 45vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu{
    padding: 10px 320px;
}